services:
  - type: web
    name: asvix-nodejs-api
    runtime: node
    buildCommand: npm install
    startCommand: node src/app.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 5001
